[Unit]
Description=Museum Automation Service
After=network.target mosquitto.service
Wants=mosquitto.service

[Service]
ExecStart=/usr/bin/python3 /home/pi/museum-system/raspberry_pi/main.py
WorkingDirectory=/home/pi/museum-system/raspberry_pi
StandardOutput=append:/var/log/museum-system.log
StandardError=append:/var/log/museum-system-error.log
Restart=always
RestartSec=10
StartLimitInterval=200
StartLimitBurst=5
User=pi

[Install]
WantedBy=multi-user.target
